@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";
.Donation {
    width: 100%;
    padding-top: 2rem;
    @include responsive(575, 0) {
        padding-top: 1rem;
    }
    padding-bottom: 11rem;

    @include fadeIn;
    &__PhotoBox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include responsive(991, 0) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include responsive(575, 0) {
            padding: 0 1rem;
            gap: 1rem;
            grid-template-columns: repeat(1, 1fr);
        }
        padding: 0 2rem;
        gap: 2rem;
        width: 100%;
        margin: 0 auto;
        & figure {
            width: 100%;
            height: 100%;
            // background-color: $color-black;
        }
        &__Photo {
            width: 100%;
            // opacity: 0.8;
            height: 100%;
            filter: grayscale(80%);
            -webkit-filter: grayscale(80%);
        }
    }
    &__Container {
        @include center;
        flex-direction: column;
    }

    &__Services {
        margin-top: 1rem;
        display: grid;
        gap: 2rem;
        &_Pay {
            grid-template-columns: repeat(3, 1fr);
            @include responsive(767, 0) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include responsive(479, 0) {
                grid-template-columns: 1fr;
            }
        }
        &_Bank {
            grid-template-columns: repeat(4, 1fr);

            @include responsive(767, 0) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include responsive(479, 0) {
                grid-template-columns: 1fr;
            }
        }
    }
    &__ImageContainer {
        width: 15rem;

        &__Image {
            box-shadow: $shadow;
            width: 100%;
            @include rounded(100%);
        }
    }
}
