@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";
.Chart {
    margin-top: 2rem;
    position: relative;
    width: 50rem;
    height: 32rem;
    @include responsive(575, 0) {
        width: 40rem !important;
    }
    @include responsive(420, 0) {
        width: 31rem !important;
    }
    & canvas {
        position: absolute;
        width: 100% !important;
        object-fit: contain;
    }
}
