$color-background: #f8f8f8;
$color-white: #fff;
$color-light: #f8f8f8;
$color-black: #000;
$color-foreground: #111;

// $color-primary: #fa3737;
$color-primary: #9d0208;
$color-muted: rgba($color-black, 0.6);

$shadow: 0px 1px 2px 3px rgba($color-foreground, 0.1);
