@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";
.Donor {
    width: 100%;
    @include center;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 11rem;
    @include fadeIn;

    &__Title {
        color: $color-muted;
        font-size: 1.7rem;
        text-align: center;
    }

    &__Btn {
        text-decoration: none;
        background-color: $color-primary;
        color: $color-background;
        padding: 1.3rem 2.5rem;
        display: inline-block;
        font-size: 1.6rem;
        font-family: "Libre Franklin";
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        box-shadow: $shadow;
        margin-top: 2rem;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        &:hover {
            color: $color-primary-light;
        }
    }
    &__Label {
        font-size: 1.5rem;
        color: $color-muted;
        text-align: center;
        margin: 1rem 0;
    }

    &__Container {
        margin: 1rem 0;
        @include center;
        flex-direction: column;
    }

    &__Services {
        margin-top: 1rem;
        display: grid;
        gap: 2rem;
        &_Pay {
            grid-template-columns: repeat(3, 1fr);
            @include responsive(767, 0) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include responsive(479, 0) {
                grid-template-columns: 1fr;
            }
        }
        &_Bank {
            grid-template-columns: repeat(4, 1fr);

            @include responsive(767, 0) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include responsive(479, 0) {
                grid-template-columns: 1fr;
            }
        }
    }
    &__ImageContainer {
        width: 15rem;

        &__Image {
            box-shadow: $shadow;
            width: 100%;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }
    }
}
